extends layout

block content
  h1 Hello from #{title}!
  div
    img(src='/images/makerlogo.jpg', alt='Maker Studios', title='Maker Studios')
    img(src='/images/mickey.jpg', alt='Mickey', title='Mickey', style='width:10%; height:auto')
