[general]
state_file = /var/awslogs/state/agent-state

[/var/log/syslog]
datetime_format = %b %d %H:%M:%S
time_zone = UTC
file = /var/log/syslog
buffer_duration = 5000
log_stream_name = {instance_id}_{ip_address}
initial_position = start_of_file
log_group_name = /var/log/syslog

[/var/log/auth.log]
datetime_format = %b %d %H:%M:%S
time_zone = UTC
file = /var/log/auth.log
buffer_duration = 5000
log_stream_name = {instance_id}_{ip_address}
initial_position = start_of_file
log_group_name = /var/log/auth.log

[/var/log/{{ app_name }}/production.log]
log_stream_name = {instance_id}_{ip_address}
log_group_name = {{ app_name }}_prod
file = /var/log/{{ app_name }}/production.log
encoding = utf-8
datetime_format = %Y-%m-%dT%H:%M:%S%z
initial_position = start_of_file
buffer_duration = 5000

[/var/log/{{ app_name }}/staging.log]
log_stream_name = {instance_id}_{ip_address}
log_group_name = {{ app_name }}_stage
file = /var/log/{{ app_name }}/staging.log
encoding = utf-8
datetime_format = %Y-%m-%dT%H:%M:%S%z
initial_position = start_of_file
buffer_duration = 5000

[/var/log/{{ app_name }}/develop.log]
log_stream_name = {instance_id}_{ip_address}
log_group_name = {{ app_name }}_dev
file = /var/log/{{ app_name }}/develop.log
encoding = utf-8
datetime_format = %Y-%m-%dT%H:%M:%S%z
initial_position = start_of_file
buffer_duration = 5000