start on launch-{{ app_name }}
stop on runlevel [06]

pre-start script
    mkdir -p /var/log/{{ app_name }}
    mkdir -p /var/run/{{ app_name }}
    chown -R {{ app_name }}:{{ app_name }} /var/log/{{ app_name }}
    chown -R {{ app_name }}:{{ app_name }} /var/run/{{ app_name }}
end script

respawn

exec start-stop-daemon --start --chuid {{ app_name }} --chdir /opt/{{ app_name }} --make-pidfile --pidfile /var/run/{{ app_name }}/{{ app_name }}.pid --exec /usr/bin/env NODE_ENV=$NODE_ENV /usr/local/bin/node -- /opt/{{ app_name }}/bin/www >> /var/log/{{ app_name }}/$NODE_ENV.log 2>&1
